.chat-feature-button {
	--button-size: 40px;

	display: flex;
	align-items: center;
	
    border: none;
	cursor: pointer;

	&.button-as-column {
		flex-direction: column;
		justify-content: center;

		width: var(--button-size);
		height: var(--button-size);
		border-radius: var(--button-size);
	}

	&.button-as-row {
		flex-direction: row;
		justify-content: flex-start;

		width: 100%;
		height: var(--button-size);
	}
}
