.account-details {
    --chatter-image-section-height: 20%;
    --chatter-name-section-height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    &.displayed-in-panel {
        --chatter-image-section-height: 50%;
        --chatter-name-section-height: 50%;
    }
}

.account-details-chatter-image-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: var(--chatter-image-section-height);
    padding-top: 30px;
}

.account-details-chatter-name-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: var(--chatter-name-section-height);
}

.account-details-chatter-name {
    color: var(--text-main);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.account-details-chatter-username {
    color: var(--text-faded);
    font-size: var(--bold-font-size);
    text-align: center;
}

@media (max-width: 720px) {
    .account-details-chatter-image-section {
        --chatter-image-section-height: 50%;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .account-details {
        --chatter-image-section-height: 50%;
        --chatter-name-section-height: 30%;
    }
}
