.chat-thread-button {
	--user-image-container-width: 20%;
	--summary-width: 80%;

	display: flex;
	flex-direction: row;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	height: 72px;
	padding-right: 10px;

	border: none;
	cursor: pointer;

    &:hover {
        background-color: var(--ditto-pink);
    }
	&:hover span {
        color: var(--text-main);
    }
	/* &:hover .chat-thread-button-summary-unread-messages {
	} */
}
.chat-thread-button-user-image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	height: 100%;
	width: var(--user-image-container-width);
}
.chat-thread-button-summary {
	display: flex;
	flex-direction: column;
	justify-content: center;

	box-sizing: border-box;
	height: 100%;
	width: var(--summary-width);
}
.chat-thread-button-summary-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}
.chat-thread-button-summary-unread-messages {
	--component-size: 20px;

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

	height: var(--component-size);
    width: var(--component-size);
    border-radius: var(--component-size);

	background-color: var(--ditto-pink);

	color: var(--text-main);
	font-size: var(--regular-font-size);
}
