.chat-window-messages-list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 6%;
    padding-right: 3%;
    
    overflow-y: auto;
    scrollbar-width: thin;
}

.chat-window-messages-list-indicator-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    color: var(--text-main);
}
