.chat-threads-panel {
	--buttons-container-height: 86%;
	--horizontal-padding: 6%;

	position: relative;		/* enables Absolute Positioning of NewChatButton */

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	box-sizing: border-box;
	height: 100%;
    width: 100%;
	border-left: var(--divider-border-style);
	border-right: var(--divider-border-style);

	background-color: var(--dark-panel-color);
}
.chat-threads-panel-header-ditto-chat-title-container {
	display: none;
}
.search-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
}
.chat-threads-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 100%;
	height: var(--buttons-container-height);
}

.chat-thread-buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-left: 2%;
	padding-right: var(--horizontal-padding);
	border-top: var(--divider-border-style);

	overflow-y: auto;
}

@media (max-width: 720px) {
	.chat-threads-panel {
		--ditto-chat-title-container-mobile: 50%;
		--search-container-height-mobile: 50%;
	}

	.search-bar-container {
		height: var(--search-container-height-mobile);
		padding-top: 10px;
	}

	.chat-threads-panel-header-ditto-chat-title-container {
		--ditto-logo-container-width: 10%;
		--ditto-chat-title-width: 80%;
		--account-feature-list-container-width: 10%;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		box-sizing: border-box;
		width: 100%;
		height: var(--ditto-chat-title-container-mobile);
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: var(--horizontal-padding);
		padding-right: var(--horizontal-padding);
	}

	.ditto-logo-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		box-sizing: border-box;
		width: var(--ditto-logo-container-width);
	}

	.ditto-logo {
		max-height: 36px;
		background-color: var(--side-menu-menu-color);
	}
	
	.ditto-chat-title {
		box-sizing: border-box;
		width: var(--ditto-chat-title-width);

		color: var(--text-main);
		font-size: 24px;
		font-weight: 900;
	}

	.account-feature-list-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		box-sizing: border-box;
		width: var(--account-feature-list-container-width);
	}
}
