.home-page {
	--chat-thread-panel-container-width: 20%;
	--chat-window-container-width: 50%;
	--active-chat-thread-panel-container-width: 30%;
	--chat-window-container-expanded-width: 80%;

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.chat-thread-panel-container {
	width: var(--chat-thread-panel-container-width);
}
.chat-window-container {
	width: var(--chat-window-container-expanded-width);

	&.active-chat-thread-panel-expanded {
		width: var(--chat-window-container-width);
	}
}

.active-chat-thread-panel-container {
	width: 0%;
	opacity: 0;
    visibility: hidden;
	display: none;

	&.expanded {
		display: flex;

		width: var(--active-chat-thread-panel-container-width);
		opacity: 1;
	    visibility: visible;
	}
}

@media (max-width: 720px) {
	.chat-thread-panel-container {
		width: 100%;
	}
	.chat-window-container {
		display: none;
	}
	.active-chat-thread-panel-container {
		display: none;
	}
}

@media (min-width: 721px) and (max-width: 1024px) {
	.home-page {
		--chat-thread-panel-container-width: 30%;
		--chat-window-container-expanded-width: 70%;
	}

	.active-chat-thread-panel-container {
		display: none;
	}
}
