.shared-files-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
}

.shared-files-list-title {
    width: 100%;
    height: 10%;
}

.shared-files-list-files-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 100%;
    height: 90%;
 
    overflow-y: auto;
}

.shared-files-list-files {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 100%;
    height: 70%;

    overflow-y: auto;
}

.shared-files-list-indicator-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
}
