.page-with-side-menu {
    --side-menu-container-width: 5%;
    --page-with-side-menu-main-page-container-width: 95%;

    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
}

.side-menu-container {
    box-sizing: border-box;
    width: var(--side-menu-container-width);
    height: 100%;
}

.page-with-side-menu-main-page-container {
    box-sizing: border-box;
    width: var(--page-with-side-menu-main-page-container-width);
    height: 100%;
}

@media (max-width: 720px) {
    .page-with-side-menu {
        --side-menu-container-width: 0%;
        --page-with-side-menu-main-page-container-width: 100%;
    }

    .side-menu-container {
        display: none;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .page-with-side-menu {
        --side-menu-container-width: 8%;
        --page-with-side-menu-main-page-container-width: 92%;
    }
}
