.loading-spinner {
    position: relative;

    width: 30px;
    height: 30px;
    border-radius: 30px;

    animation: rotate 1s linear infinite;
}
.loading-spinner::before {
    position: absolute;

    box-sizing: border-box;
    border-radius: 50%;
    border: 4px solid var(--ditto-purple);

    content: '';
    inset: 0;
    
    animation: stylish-rotation-animation 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stylish-rotation-animation {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
