.chat-window {
	--messages-list-container-height: 84%;
	--message-input-container-height: 8%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	box-sizing: border-box;
	height: 100%;
	width: 100%;

	background-color: var(--dark-background);
}

.chat-window-header {
	--chatter-overview-container-width: 90%;
	--feature-list-container-width: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
}

.chat-window-header-chatter-overview-info-container {
	box-sizing: border-box;
	width: var(--chatter-overview-container-width);
	height: 100%;
}

.chat-window-header-feature-list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	width: var(--feature-list-container-width);
	height: 100%;
	padding-right: 20px;
}

.chat-window-messages-list-container {
	box-sizing: border-box;
	height: var(--messages-list-container-height);
	width: 100%;
	border-top: var(--divider-border-style);
}

.chat-window-message-input-container {
	box-sizing: border-box;
	height: var(--message-input-container-height);
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4%;
	padding-right: 4%;
	border-top: var(--divider-border-style);
}

@media (max-width: 720px) {
	.chat-window {
		--messages-list-container-height: 90%;
		--message-input-container-height: 10%;
	}

	.chat-window-header {
		display: none;
	}
}
