.back-header {
    --back-button-container-width: 5%;
    --content-container-width: 95%;
    --horizontal-padding: 2%;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: var(--horizontal-padding);
}

.back-header-back-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: var(--back-button-container-width);
    height: 100%;
}

.back-header-content-container {
    box-sizing: border-box;
    width: var(--content-container-width);
    height: 100%;
    padding-left: 10px;
}

@media (max-width: 1024px) {
	.back-header {
        --back-button-container-width: 10%;
        --content-container-width: 90%;
        --horizontal-padding: 6%;
	}
}
